/*
Error: Undefined mixin 'margin-bottom'.
        on line 14 of style/styles.scss, in `margin-bottom'
        from line 14 of style/styles.scss

9:   .hero {
10:     flex-direction: column;
11:     align-items: center;
12: 
13:     &__img {
14:       @include margin-bottom(4.8rem);
15: 
16:       &--desktop {
17:         display: none;
18:       }
19:     }

Backtrace:
style/styles.scss:14:in `margin-bottom'
style/styles.scss:14
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:348:in `block in visit_mixin'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:98:in `with_mixin'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:346:in `visit_mixin'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `map'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `map'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:524:in `visit_media'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in `run'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/lib/ruby/gems/3.2.0/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/bin/sass:25:in `load'
/Users/mukhammadbobur/.rbenv/versions/3.2.2/bin/sass:25:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'margin-bottom'.\A         on line 14 of style/styles.scss, in `margin-bottom'\A         from line 14 of style/styles.scss\A \A 9:   .hero {\A 10:     flex-direction: column;\A 11:     align-items: center;\A 12: \A 13:     &__img {\A 14:       @include margin-bottom(4.8rem);\A 15: \A 16:       &--desktop {\A 17:         display: none;\A 18:       }\A 19:     }"; }
