/* NOTE:  color variables */
/* NOTE: spacing variables */
/* PERF: maps */
/* $colors: ( */
/*   cyan-600: #4d96a9, */
/*   cyan-300: #8fe3f9, */
/*   purple-600: #855fb1, */
/*   purple-300: #d9b8ff, */
/*   slate-900: #28283d, */
/*   slate-600: #87879d, */
/*   slate-300: #d1d1df, */
/*   white: #fafafa, */
/* ); */
/* NOTE:  extends */
.hero__heading, .footer .step__number, .usage__step--number, .footer .overlay__content-btn:hover, .footer .overlay__content-btn, .hero__cta--intro:hover, .hero__cta--intro, .hero__cta--download:hover, .hero__cta--download, .footer .overlay__content-description, .usage__description, .hero__description, .usage__header p:first-child, .footer .overlay__content-heading, .usage__heading {
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: 0;
}

.footer .overlay__content-heading, .usage__heading {
  font-size: 4rem;
}

.usage__header p:first-child {
  font-size: 1.6rem;
  letter-spacing: 0.4rem;
}

.footer .overlay__content-description, .usage__description, .hero__description {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
}

.footer .step__number, .usage__step--number, .footer .overlay__content-btn:hover, .footer .overlay__content-btn, .hero__cta--intro:hover, .hero__cta--intro, .hero__cta--download:hover, .hero__cta--download {
  font-size: 1.6rem;
  line-height: 1.5;
}

.footer .overlay__content-btn:hover, .footer .overlay__content-btn, .hero__cta--intro:hover, .hero__cta--intro, .hero__cta--download:hover, .hero__cta--download {
  border: none;
  width: 19.3rem;
  height: 5.6rem;
  border-radius: 2.9rem;
  padding: 1.6rem 4rem;
}

.footer .overlay__content, .footer .step, .usage__step, .usage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* PERF: mixins */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  line-height: 1;
  background-color: #fafafa;
}

.header {
  max-width: 11.8rem;
  margin: 8rem auto 0;
}

.main-container {
  max-width: 144rem;
  margin: 0 auto;
}

.hero {
  display: flex;
  justify-content: space-between;
  padding: 6.4rem 0;
}
.hero__img--tablet {
  display: none;
}
.hero__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  text-align: center;
  max-width: 44.83rem;
  padding: 0 1.8rem;
}
.hero__heading {
  color: #28283d;
}
.hero__description {
  color: #87879d;
}
.hero__cta--download {
  background-color: #4d96a9;
  color: #fafafa;
  margin-right: 1.7rem;
}
.hero__cta--download span {
  color: #8fe3f9;
}
.hero__cta--download:hover {
  background-color: #71c0d4;
  color: #fafafa;
  cursor: pointer;
}
.hero__cta--intro {
  background-color: #855fb1;
  color: #fafafa;
  width: 16.1rem;
}
.hero__cta--intro:hover {
  background-color: #b18bdd;
  color: #fafafa;
  cursor: pointer;
  width: 16.1rem;
}

.usage {
  max-width: 112rem;
  margin: 5.6rem auto 7.2rem;
}
.usage__vertical-line {
  height: 8rem;
  width: 1px;
  top: 0;
  background-color: #d1d1df;
}
.usage__step {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  border: 1px solid #d1d1df;
  margin-bottom: 6.4rem;
}
.usage__step--number {
  color: #87879d;
}
.usage__gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3.2rem;
  margin-bottom: 6.4rem;
}
.usage__gallery img {
  width: 25.6rem;
  height: auto;
  border-radius: 0.8rem;
}
.usage__header {
  max-width: 54.4rem;
  text-align: center;
}
.usage__header p:first-child {
  color: #4d96a9;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}
.usage__heading {
  color: #28283d;
  padding: 0 5.2rem;
  margin-bottom: 3.2rem;
}
.usage__description {
  color: #87879d;
}

.footer {
  max-width: 144rem;
  position: relative;
  height: 42rem;
  display: flex;
  margin: 0 auto;
}
.footer .vertical-line {
  position: absolute;
  height: 8rem;
  width: 1px;
  background-color: #d1d1df;
  left: 50%;
}
.footer .step {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  border: 1px solid #d1d1df;
  background-color: #fafafa;
  z-index: 1;
  position: absolute;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 6.4rem;
}
.footer .step__number {
  color: #87879d;
}
.footer__image {
  width: 100%;
  height: 31.2rem;
  align-self: flex-end;
}
.footer__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(77, 150, 169, 0.8);
  padding: 11.2rem 8rem;
  height: 31.2rem;
  align-self: flex-end;
}
.footer .overlay__content {
  flex-direction: row;
  justify-content: space-between;
}
.footer .overlay__content-heading {
  color: #fafafa;
  max-width: 44.5rem;
}
.footer .overlay__content-description {
  color: #fafafa;
  max-width: 35.5rem;
}
.footer .overlay__content-btn {
  background-color: #855fb1;
  color: #fafafa;
  width: 16.1rem;
  width: 19.3rem;
}
.footer .overlay__content-btn:hover {
  background-color: #b18bdd;
  color: #fafafa;
  cursor: pointer;
  width: 16.1rem;
  width: 19.3rem;
}
.footer .overlay__content-btn span {
  color: #d9b8ff;
}

@media (min-width: 48em) and (max-width: 64em) {
  .header {
    margin: 4.8rem auto 0;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    padding: 6.4rem 0 0;
  }
  .hero__img {
    margin-bottom: 7.2rem;
  }
  .hero__img--desktop {
    display: none;
  }
  .hero__img--tablet {
    display: block;
  }
  .hero__header {
    gap: 2.4rem;
  }
  .hero__heading {
    font-size: 4.8rem;
  }
  .hero__description {
    font-size: 1.6rem;
  }
}

/*# sourceMappingURL=styles.css.map */
