/* NOTE:  color variables */

$color-cyan-600: #4d96a9;
$color-cyan-300: #8fe3f9;
$color-purple-600: #855fb1;
$color-purple-300: #d9b8ff;
$color-slate-900: #28283d;
$color-slate-600: #87879d;
$color-slate-300: #d1d1df;
$color-white: #fafafa;
$color-hover-blue: #71c0d4;
$color-hover-purple: #b18bdd;

/* NOTE: spacing variables */
$spacing-112: 11.2rem;
$spacing-80: 8rem;
$spacing-72: 7.2rem;
$spacing-64: 6.4rem;
$spacing-56: 5.6rem;
$spacing-48: 4.8rem;
$spacing-40: 4rem;
$spacing-32: 3.2rem;
$spacing-24: 2.4rem;
$spacing-16: 1.6rem;
$spacing-8: 0.8rem;
$spacing-4: 0.4rem;

/* NOTE: breakpoints */

$breakpoint-tablets: "(min-width: 48em)";
$breakpoint-large-tablets: "(min-width: 64em)";
$breakpoint-desktops: "(min-width: 75em)";
