.btn {
  @extend %button-style;

  &--blue {
    background-color: $color-cyan-600;

    span {
      color: $color-cyan-300;
    }

    &:hover {
      background-color: $color-hover-blue;
    }
  }

  &--purple {
    background-color: $color-purple-600;

    span {
      color: $color-purple-300;
    }

    &:hover {
      background-color: $color-hover-purple;
    }
  }

  &--intro {
    width: 16.1rem;
  }
}
