/* NOTE:  color variables */
/* NOTE: spacing variables */
/* NOTE: breakpoints */
.btn {
  width: 19.3rem;
  height: 5.6rem;
  border: none;
  border-radius: 2.9rem;
  padding: 1.6rem 3.2rem;
  color: #fafafa; }

.step, .step__box, .hero__header, .hero__cta-group, .usage__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.hero, .footer__overlay {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  line-height: 1;
  background-color: #fafafa; }

.usage__heading, .footer .overlay__title, .usage__subheading, .hero__description, .usage__description, .footer .overlay__description, .btn, .step__box--number, .hero__heading {
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: 0; }

.usage__heading, .footer .overlay__title {
  font-size: 4rem; }

.usage__subheading {
  font-size: 1.6rem;
  letter-spacing: 0.4rem; }

.hero__description, .usage__description, .footer .overlay__description {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5; }

.btn, .step__box--number {
  font-size: 1.6rem;
  line-height: 1.5; }

.btn--blue {
  background-color: #4d96a9; }
  .btn--blue span {
    color: #8fe3f9; }
  .btn--blue:hover {
    background-color: #71c0d4; }
.btn--purple {
  background-color: #855fb1; }
  .btn--purple span {
    color: #d9b8ff; }
  .btn--purple:hover {
    background-color: #b18bdd; }
.btn--intro {
  width: 16.1rem; }

.step {
  width: 5.6rem;
  height: 13.6rem;
  margin: 0 auto; }
  .step__line {
    width: 1px;
    height: 8rem;
    background-color: #d1d1df; }
  .step__box {
    width: 5.6rem;
    height: 5.6rem;
    border: 1px solid #d1d1df;
    border-radius: 50%;
    background-color: #fafafa; }
    .step__box--number {
      color: #87879d; }

.main-container {
  max-width: 144rem;
  margin: 0 auto;
  text-align: center; }

.header {
  width: 11.8rem;
  margin: 4.8rem auto 0; }

@media (min-width: 75em) {
  .header {
    margin: 8rem auto 0; } }
.hero {
  padding: 6.4rem 0 3.2rem; }
  .hero__image--right {
    display: none; }
  .hero__image img {
    width: 100%;
    height: auto;
    margin: 0 auto 4.8rem; }
  .hero__header {
    gap: 2.4rem;
    padding: 0 3.5rem; }
  .hero__heading {
    font-size: 4rem;
    color: #28283d; }
  .hero__description {
    font-size: 1.6rem;
    color: #87879d; }
  .hero__cta-group {
    gap: 1.6rem; }

@media (min-width: 48em) {
  .hero {
    padding: 6.4rem 0;
    row-gap: 7.2rem; }
    .hero__header {
      padding: 0;
      max-width: 45rem;
      margin: 0 auto; }
    .hero__heading {
      font-size: 4.8rem;
      line-height: 5.28rem; }
    .hero__cta-group {
      flex-direction: row;
      gap: 1.7rem; } }
@media (min-width: 75em) {
  .hero {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3.2rem; }
    .hero__image--right {
      display: block; }
    .hero__header {
      gap: 3.2rem;
      max-width: 44rem; }
    .hero__heading {
      font-size: 6.4rem;
      line-height: 7.04rem; }
    .hero__description {
      font-size: 1.8rem;
      line-height: 2.7rem; } }
.usage {
  padding: 3.2rem 3.2rem 6.4rem; }
  .usage__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14.75rem, 1fr));
    padding: 6.4rem 0;
    gap: 1.6rem; }
    .usage__gallery img {
      max-width: 100%;
      height: auto;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      border-radius: 0.8rem; }
  .usage__heading {
    margin-bottom: 3.2rem;
    font-size: 3.2rem;
    line-height: 3.52rem;
    color: #28283d; }
  .usage__subheading {
    margin-bottom: 1.6rem;
    color: #4d96a9;
    font-size: 1.2rem;
    line-height: 1.32rem;
    text-transform: uppercase; }
  .usage__description {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #87879d; }

@media (min-width: 48em) {
  .usage {
    padding: 5.6rem 4.4rem 6.4rem; }
    .usage__gallery {
      column-gap: 2.4rem; }
    .usage__heading {
      font-size: 3.6rem;
      line-height: 3.96rem;
      max-width: 44.5rem; }
    .usage__subheading {
      font-size: 1.4rem;
      line-height: 1.54rem; }
    .usage__description {
      max-width: 50.4rem; } }
.footer {
  position: relative;
  color: #fafafa;
  text-align: center;
  width: 100%;
  height: 48.2rem; }
  .footer__step, .footer__image {
    position: relative; }
  .footer__step {
    z-index: 2; }
  .footer__image {
    display: block;
    bottom: 2.8rem;
    height: 37.4rem; }
    .footer__image img {
      display: inherit;
      width: 100%;
      height: 100%; }
  .footer__overlay {
    row-gap: 2.4rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 37.4rem;
    background-color: rgba(77, 150, 169, 0.8);
    padding: 6.4rem 3.2rem;
    z-index: 1; }
  .footer .overlay__title {
    font-size: 3.2rem;
    line-height: 3.52rem; }
  .footer .overlay__description {
    font-size: 1.6rem;
    line-height: 2.4rem; }

@media (min-width: 48em) {
  .footer {
    height: 42.8rem; }
    .footer__image, .footer__overlay {
      height: 32rem; }
      .footer__image img, .footer__overlay img {
        height: 100%; }
    .footer .overlay__title {
      font-size: 3.6rem;
      line-height: 3.96rem; }
    .footer .overlay__description {
      max-width: 50.4rem; } }

/*# sourceMappingURL=main.css.map */
